//Custom 400 errors
ErrorDocument 400 /errors/400.html

//Custom 401 errors
ErrorDocument 401 /errors/401.html

//Custom 403 errors
ErrorDocument 403 /errors/403.html

//Custom 404 errors
ErrorDocument 404 /errors/404.html

//Custom 500 errors
ErrorDocument 500 /errors/500.html

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

//Prevent directory listings
Options All -Indexes
 